header {
    background-color: lightgray;
    padding: 8px;
}

legend {
    color: blue;
    font-weight: bold;
    padding: 5px;
}

label, input, select, textarea {
    padding: 3px;
    margin: 6px;
}

button {
    margin: 5px;
}